.myFirstNavFS {
  min-height: 40px !important;
  font-size: 0.7em !important;
}
.myNavH1 {
  font-size: 48px !important ;
  font-weight: bold !important;
}
.mySecondNavSpase {
  max-width: 550px !important;
  margin: auto !important;
}
.myIconsGroup {
  gap: 20px !important;
}
.myImgSize {
  height: 400px !important;
  width: 400 !important;
}
.myMaxwidth {
  max-width: 950px !important;
  margin: auto !important;
}
.myCarouselSize {
  height: 500px !important;
}
.my2ImgSize {
  height: 500px !important;
  width: 500px !important;
}
.myroungimgsize {
  height: 300px !important;
  width: 400px !important;
}
.myFooterLink:hover {
  color: rgb(109, 170, 109) !important;
}
.myInput {
  position: relative;
}
.myInputText {
  position: absolute;
  left: 8%;
  top: 10%;
  z-index: 1;
}
.myBtn {
 background-color: green !important;
}
