.myFirstNavFS {
  min-height: 40px !important;
  font-size: 0.7em !important;
}
.myNavH1 {
  font-size: 48px !important ;
  font-weight: bold !important;
}
.mySecondNavSpase {
  max-width: 550px !important;
  margin: auto !important;
}
.myAboutimg {
  height: 85% !important;
  width: 85% !important;
}
.myIconsGroup {
  gap: 20px !important;
}
.myFooterLink:hover {
  color: rgb(109, 170, 109) !important;
}

.myInput {
  position: relative;
}
.myInputText {
  position: absolute;
  left: 8%;
  top: 10%;
  z-index: 1;
}
.myBtn {
  background-color: green !important;
}
.myIfram{
  width: 100vw;
  height: 75vh;
}